.container{
    margin-top: 6%;
}

#form{
    width: 50%;
    height: 50%;
    margin-left: 30%;
}

#inputName, #symptoms{
    width: 100%;
}

#doc_img{
    margin-top: 6.5%;
    width: 150%;
    height: 80%;
}

.symptom{
    margin-bottom: 20px;
}

#symptom1, #symptom2, #symptom3, #symptom4, #symptom5{
    margin-right: 45px;
}

#gender1, #gender2, #gender3{
    margin-right: 30px;
}